<h1>Welcome to my blog. </h1>
<h2>This is a space to help empower parents through providing informtion on common infant and toddler medical conditions.</h2>
<br>
<h2>Consult your you health care provider if you have any concerns or questions.</h2>
<%= link_to 'My Blog', controller: 'articles' %>
